.todo{
    background-color: rgb(126, 126, 126);
    margin: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 12vh;
    padding: 5px;
    border-radius: 6px;
}
